// LecturerForm.module.scss
.container {
    margin: 20px;
    font-family: Arial, sans-serif;
    width: 95%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.lable {
    display: inline-block;
    display: flex;
}
.title {
    display: inline-block;
    flex: 1;
}
.input {
    flex: 3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.wrapCheckbox {
    flex: 3;
}

.checkbox {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.submitButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}
