.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    user-select: none;
    
    &:hover {
        background-color: rgb(214, 216, 216);
    }

    + .wrapper {
        margin-left: 8px;
    }
    & .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

//styles
.rouded {
    border: 1px solid rgb(167, 169, 169);
    border-radius: 999px;
    &:hover {
        background-color: rgb(214, 216, 216);
    }
}

.primary {
    background-color: var(--primary-color);
    color: white;
    border-color: transparent;
    &:hover {
        background-color: var(--primary-background-hover);
    }
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color) !important;
    &:hover {
        background-color: rgb(255 238 242);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//icon
.icon {
    display: inline-block;
    min-width: 24px;
    text-align: center;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//size
.S {
    min-width: 88px;
    padding: 4px 16px;
}

.L {
    min-width: 140px;
    padding: 14px 16px;
}
