.wraper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #333;
}

//logo school
.logo-school {
    height: 50px;
    img {
        height: 50px;
    }
}
