.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f7f7f7;
    background-image: linear-gradient(
            rgba(255, 250, 250, 0.1),
            rgba(255, 250, 250, 0.1)
        ),
        url('../../image/1tru_so_chinh_92a.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 10rem 2rem 0;
    position: relative;

    //linear-gradient(180deg, rgba(255,255,255,0), rgb(189, 7, 7)),

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 30rem;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgb(149, 4, 4)
        );
        position: absolute;
        bottom: 0;
    }
}

.logo_school img {
    max-width: 30rem;
    margin-bottom: 5rem;
}

.container {
    text-align: center;
}

.title {
    color: white;
    text-shadow: 2px 2px 0px var(--primary-color),
        -2px -2px 0px var(--primary-color), -2px 2px 0px var(--primary-color),
        2px -2px 0px var(--primary-color);
    font-weight: bolder;
    margin-bottom: 8rem;
}

.btt {
    color: white !important;
    text-transform: uppercase;
    cursor: pointer;
}
