.container {
    margin: 0 auto;
    padding: 1rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}
.inputSearch {
    border: 1px solid #333;
    border-radius: 999px;
    min-width: 5rem;
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px #b2b1b1;
    margin-bottom: 1rem;
}

.boxTable {
    width: 100%;
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.table .thead th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.table .tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.table .tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table .tbody tr:hover {
    background-color: #e9ecef;
}

th,
td {
    text-align: left;
}

// @media (max-width: 740px) {
//     .table .thead {
//         display: none;
//     }

//     .table,
//     .table .tbody,
//     .table tr,
//     .table td {
//         display: block;
//         width: 100%;
//     }

//     .table tr {
//         margin-bottom: 15px;
//     }

//     .table td {
//         text-align: left;
//         padding-left: 50%;
//         position: relative;
//     }

//     .table td::before {
//         content: attr(data-label);
//         position: absolute;
//         left: 0;
//         width: 50%;
//         padding-left: 15px;
//         font-weight: bold;
//         text-align: left;
//     }
// }
.icon {
    cursor: pointer;
    margin-right: 10px;

    &.edit-icon {
        color: #007bff;
    }

    &.delete-icon {
        color: #dc3545;
    }

    &:hover {
        opacity: 0.7;
    }
}
