.container {
    margin: 0 auto;
    padding: 1rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.input {
    width: 14rem; /* Adjust width as needed */
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


//search
.box-search{       
    display: flex;
    flex-wrap: wrap;
    .input{
        margin-bottom: 1rem;
    }
}

.box-date-input{
    display: inline-flex;
}


.boxTable {
    width: 100%;
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.table .thead th {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: left;
}

.table .tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.table .tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table .tbody tr:hover {
    background-color: #e9ecef;
}

th,
td {
    text-align: left;
}

.icon {
    cursor: pointer;
    margin-right: 10px;

    &.edit-icon {
        color: #007bff;
    }

    &.delete-icon {
        color: #dc3545;
    }

    &:hover {
        opacity: 0.7;
    }
}
