.wrapper {
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    &:hover {
        background-color: #f6f5f5;
    }
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    cursor: pointer;
}

.content {
    margin-left: 1rem;
    flex: 1;
}

.name {
    font-weight: 500;
}
.input {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
